# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/pages/Home.js
src/pages/ListCharacter.js
src/pages/DetailCharacter.js
src/assets/css/style.css
src/assets/images/accent-1.png
src/assets/images/phone-2.png
src/assets/images/partners-1.png
src/assets/images/phone-1.png
src/components/CharacterCard.js
src/components/navbar.js
