body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #1A374D;
    }
nav{
    display: flex; 
    justify-content:space-between; 
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;
    background-color: #fff;
    
    }
    