body{
    color: #B1D0E0;
    background-color: #1A374D;
    font-family: 'Nunito Sans', sans-serif;
    }
   
    
    /* .main1{
    display: flex; 
    justify-content: space-between; 
    width:100%; position:absolute; 
    z-index: -1; 
    top:0; 
    } */

/*    
    .about{
    background-color: rgba(71, 58, 209, 0.06);;
    text-align: center; margin-top: 700px;
    }
    .aboutmargin{
    margin-top: 850px;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    
    }
    .blokabout{
    display: flex;
    justify-content: center;
    
    }
    
    .blockabout h1{
    margin-bottom: 35px; font-weight: bold; font-size: 14px;
    }
    .blockabout p{
    font-weight: 300; font-size: 18px;
    }
    
    .blok1{
    border-radius: 25px;
    background-color: #FFFFFF;
    width: 384px;
    height: 384px;
    text-align: center;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    
    }
    .fw9-btn{
        display: flex;
        
    }
    
    .sponsor{
    padding-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    
    }
    .sponsor h1{
    color: #3A3D42; font-weight: 800; font-size: 60px;
    }
    .sponsor p{
    font-weight: 400; font-size: 18px; color: #3A3D42E5;
    }
    
    .feature{
    background-color: #473AD10F
    }
    .feature1{
    padding-top: 90px;
    margin-right: 150px;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .blockfeat{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: #FFFFFF;
    text-align: left;
    border-radius: 25px;
    margin-bottom: 30px;
    }
    
    .testi{
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 80px;
    
    }
    .testi h1{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 70px;
    }
    
    .block11{ 
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    height: 344px;
    width: 367px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    }
    .block11 img{
        width: 60px;;
    }
    footer{
    background-color: #6379F4;
    color: #FFFFFF;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
    }
    
    .testiuser{
            display: flex;
            flex-direction: row;
            padding: 30px;
            margin: 0px;
            justify-content: center;
            text-align: center;
            text-align: center;
    } */
    

    
    /* // Medium devices (tablets, 768px and up) */
    @media (max-width: 768px) { 
        .titleapp{
            font-size: 29px; 
            color:#6998AB; 
            font-weight: bold;
        }
        .imgtry{
            background: unset;
            text-align: center;
        }
        br{
            display: unset;
            display: none;
        }
        nav{
            display: flex;
            flex-direction: column;
            padding: 30px;
            margin: 0px;
            justify-content: center;
            text-align: center;
        }
        .fw9-sec-btn{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            gap: 15px;
        }
        .fw9-sec-btn .login{
            box-sizing: border-box; 
            background: #1A374D;
            border: 2px solid #FFFFFF;
            border-radius: 12px; 
            font-size: 16px; 
            padding: 10px 36px; 
            color: #FFFFFF;
            text-decoration: none;
    
        }
        
        .fw9-sec-btn .regis{
            box-sizing: border-box; background: #FFFFFF; border: 2px solid #1A374D;
            border-radius: 12px; font-size: 16px; padding: 10px 26px; color: #1A374D;
            text-decoration: none;
        }
        .fw9-btn{
            display: none;
        }
    
        .main1{
            display: flex;
            flex-direction: column;
            padding: 30px;
    
        }
    
        .maintry{
            display: flex;
            
            padding: 0px 30px;
            margin: 0px;
    
        }
        .maintry1{
            max-width: 402px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .maintry1 h1{
            font-weight: 800; font-size: 50px;
        }
         .main1 .imgtry .bg-bg{
            background: unset;
            background-image: unset;
        }
        .btntry{
            box-sizing: border-box; 
            background: #1A374D; 
            border: 2px solid #FFFFFF;;
            border-radius: 12px; 
            font-size: 16px; 
            padding: 10px 26px; 
            color: #FFFFFF;
            text-decoration: none;
            }
    
        /* .about{
            padding-top: 300px;
            margin-top: 0px;
        }
        .blokabout{
    
            display: flex;
            flex-direction: column;
            padding: 30px;
            margin: 0px;
            justify-content: center;
            align-items: center;
        }
    
        .sponsor{
            display: flex;
            flex-direction: column;
            padding: 30px;
            margin: 0px;
            justify-content: center;
            text-align: center;
            text-align: center;
        }
        .sponsor img{
            align-items: center;
            width: 80%;
            padding: 30px;
            margin: 0px;
            margin-left: 0px!important;
        }
        .feature1{
            display: flex;
            flex-direction: column;
            padding: 30px;
            margin: 0px;
            justify-content: center;
            text-align: center;
            text-align: center;
        }
        .testiuser{
            display: flex;
            flex-direction: column;
            padding: 30px;
            margin: 0px;
            justify-content: center;
            text-align: center;
            text-align: center;
            gap: 15px;
        }
    
        .featfeat h1{
            padding-bottom: 30px;
            align-items: center;
            text-align: center;
            justify-content: center;
        } */
     }
    
     @media (min-width: 769px) {
        nav{
            display: flex; 
            justify-content:space-between; 
            margin-top: 50px;
            margin-left: 150px; 
            margin-right: 150px;
            }
            .titleapp{
                font-size: 29px; 
                color:#6998AB; 
                font-weight: bold;
            }
        .bgbg{
            background-repeat: no-repeat; 
            background-image : url(../images/imgbg.png);
        }
        .bgbg img{
            margin-top: 75px;  margin-right: 150px;
        }
        .fw9-btn{
            display: flex;
        }
        .fw9-btn .login{
            box-sizing: border-box; 
            background: #1A374D;
            border: 2px solid #FFFFFF;
            border-radius: 12px; 
            font-size: 16px; 
            padding: 10px 36px; 
            color: #FFFFFF;
            text-decoration: none;
        }
        
        .fw9-btn .regis{
            box-sizing: border-box; 
            background: #FFFFFF;
            border: 2px solid #1A374D; 
            border-radius: 12px; 
            font-size: 16px; 
            padding: 10px 36px; 
            text-align: center; 
            color: #1A374D;
            text-decoration: none;
        }
    
        .fw9-sec-btn{
            display: none;
        }
        .main1{
            display: flex; 
            justify-content: space-between; 
            width:100%; 
            position:absolute; 
            z-index: -1; top:0; 
            }
        .maintry{
            flex:1; margin-top: 80px; margin-left: 150px;
            }
        .maintry1{
            max-width: 402px; margin-top: 100px;
        }
        .maintry1 h1{
            font-weight: 800; font-size: 50px;
        }
        .btntry{
            box-sizing: border-box; 
            background: #1A374D; 
            border: 2px solid #FFFFFF;;
            border-radius: 12px; 
            font-size: 16px; 
            padding: 10px 26px; 
            color: #FFFFFF;
            text-decoration: none;
            }
            .imgtry{
            flex:1;  
            background-size:contain;  
            min-height: 440px; 
            background-position-x: right; 
            text-align: right; 
            /* padding-right: 50px; */
            }
     }
    