body{
    font-family: 'Nunito Sans', sans-serif;
    margin-right: -15px;  
    padding-right: -15px;  
  }
  .secTitle{
    display: none;
  }

.parent{

    padding: 30px 100px 30px 150px;
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.titleapp{
  margin-left: -100px;
  font-size: 29px; 
  color:#B1D0E0; 
  font-weight: bold;
}
header{
    padding-top: 50px;
}

.form-login1{
    padding-top: 121px;
    padding-right: 150px;
    padding-bottom: 30px;
    padding-left: 50px;
    background: #B1D0E0;
    color: #1A374D;
}

    footer{
    background-color: #6379F4;
    color: #FFFFFF;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
    }
    
    .input-group-text {

        background-color: unset;
        border: unset;
        border-radius: unset;
        border-bottom: 2px solid #1A374D;
        color: #B1D0E0;
      }
      .form-control {
        
        background: unset;
        border: unset;
        border-bottom: 2px solid #1A374D;
        border-radius: unset;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        -ms-border-radius: unset;
        -o-border-radius: unset;;
    
      }
      .form-control:focus{
        border-bottom: 2px solid #1A374D;
        box-shadow: unset;
        outline: none;
        /* border-color: unset; */
        background: unset;
      }
      .btn-fw9{
        background-color: #1A374D; 
        color: #B1D0E0; 
        border-radius: 12px; 
        padding: 8px 0px; 
         border-color: 6px solid #1A374D; 
       
      }
      .btn-fw9:hover{
        background-color: #6998AB; 
        color: #1A374D; 
        border-radius: 12px; 
        padding: 8px 0px; 
         border-color: 6px solid #1A374D; 
       
      }
      .wraper-pin{
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        
       }
      .pin-input-wrapper{
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
      }
      .pin-form-wrap{
      border-radius: 10px; 
      border:1px solid gray; 
      padding: 10px;
      display: flex;
      align-items: center;
    }
    .pin-form-input{
      width: 30px; 
      height: 50px; 
      border: unset; 
      border-bottom: 1px solid gray; 
      font-size: 20px; 
      text-align: center;
      background: unset;
    }

    .pin-form-input:focus{
      border-bottom: 2px solid #1A374D;
      box-shadow: unset;
      outline: none;
      background: unset;
    }
      @media (max-width: 768px) { 
        body{
        padding: 0px;
        margin-right: -15px;
      }
      .parent{
        display: unset;
        display: none;
      }
      
      .form-login1{
        padding: 35px;
        text-align: center;
        width: 100%; 
        height: calc(100%)
        
      }
      .form-login1 h3{
        font-size: large;
        font-weight: bold;
      }
      .form-login1 p{
        font-size: medium;

      }
      .secTitle{
        display: contents;
        font-weight: bold;
        font-size:x-large;
        text-decoration: none;
        color: #1A374D;
      }
      .wraper-pin{
       display: flex;
       flex-direction: column;
       gap: 150px;
       justify-content: center;
       
      }
      
    }
